h1
{
	color:#009688;
	font-family: 'bree serif',serif;

}
#para
{
	color:#3e2723;
}
#sub
{
	font-family: 'bree serif',serif;
	color:#222222;
}
i
{
	position:relative;
	top:5px;
}
#spara
{
	font-size: 3vh;
}
@media screen and (max-width: 768px){
  h1{
   margin-top:75px;
  }
  footer{
    display: hidden;
}

}


