h1
{
	color:#009688;
	font-family: 'bree serif',serif;

}
#para
{
	color:#3e2723;
}
#sub
{
	font-family: 'bree serif',serif;
	color:#222222;
}
i
{
	position:relative;
	top:5px;
}
#spara
{
	font-size: 3vh;
}
.icon{
	width: 50px;
}
#also
{
	background-color:#021B38;	
}
#footer
{
	width:100%;
	bottom:0;
  z-index: 2000;
  height:30%;
  background-color:#021B38;

}
.division second{
	height: 900px !important;
}
@media screen and (max-width: 768px){
  h1{
   margin-top:75px;
  }
  footer{
    display: hidden;
}

}


