h3
{
	color:#009688;
	font-family: 'bree serif',serif;
	max-width: 100vw;

}
#para
{
	font-family: 'open-sans',sans-serif;
	color:#3e2723;
}
}
#sub
{
	font-family: 'bree serif',serif;
	color:#222222;
}
@media screen and (max-width: 768px){
  h3{
   margin-top:75px;
  }
  footer{
    display: hidden;
}

}

