body{
  min-height: 100vh;
  font-family: 'open-sans', sans-serif;
}

.logo {
    transition: all .4s;
}
.side-nav{
  z-index: 10000;
}
.innerli :hover{
  background: white !important;
}

.innerNav{
  padding: 0 15px 0 15px !important;
}

.brand-logo {
  color: white;
  padding-left: -10px;
  margin-left: 20px;
}
.awes :hover{
  background: white !important;
}
.nav-wrapper{
  background-color: #021B38;
}



.side-nav li{
  padding:0px !important;
}
#footer
{
	width:100%;
	bottom:0;
  z-index: 2000;
  height:20%;
  background-color:#021B38;

}
::-webkit-scrollbar  {
    width:10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#filler{
  margin-bottom: 260px;
}
#dropdown1{
  width:230px !important;
}
.nava{
          display: block;
          padding-left: 30px;
}
.nava :hover{
            background:rgba(0,0,0,.2);
}
.hidden{
          height: 0;
          overflow: hidden;
          transition: all 2s;
}
/*news*/
.news{
 position:fixed;
    bottom: 10px;
    right:10px;
}
/*news*/
#twit
{
  align-items: right;
}
.icon
{
  width: 75px;
  padding-left:25px;
}
@media screen and (max-width: 768px){
  nav{
    position: fixed;
    top: 0px;
    z-index: 999 !important;
  }
  footer{
    display: hidden;
}

.icon{
  width:50px;
}
.brand-logo {
  color: white;
  padding-left: 0px;
}
}
.heading {
  color: black;
  font-family: 'Bree Serif', serif;
}

@media only screen and (max-width: 992px){
  .svg-logo{
    float: right;
  }
}