#footer
{
	width:100%;
	position:absolute;
	bottom:0;

}
::-webkit-scrollbar  {
    width:10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#dropdown1{
  width:230px !important;
}
.nava{
          display: block;
          padding-left: 30px;

}
.hidden{
          height: 0;
          overflow: hidden;
          transition: all 2s;
}
/*news*/
.news{
 position:fixed;
    bottom: 10px;
    right:10px;
}
/*news*/