.maincont{
  text-align:   center;
  padding-bottom:   20px;
}


.maincont{
  margin-top: 70px;
}

body,html{
  height:   100%;
}
@media only screen and (max-width:768px){
.logo {
  margin-top: 10px;
  width: 100px;
}

.header {
  font-family: 'Bree Serif', serif;
  color: #42A79E;
  font-weight: 1.2em;
}

}
h1.heading{
  margin-top: -10px;
}
.chairman{
  overflow: hidden;
}


.heading{
  font-size: 6em;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.text-center {
	font-family: 'Bree Serif', serif;
  font-size: 4vh;
  color: #0F6B63;
}
@media only screen and (max-width: 420px){
  .logo{
    margin-top: 10px;
  }
}

#about{
  margin-top:   30px;
  width:  90%;
}

#about p{
  margin-top: 20px;
  width:  100%;
  color: #18906C;
  font-size: 3vh;
}


#about h3{
  margin-top:   30px;
  width:  100%;
  font-family: 'Mada', sans-serif; 
  color:  #0F6B63;
}

#about h6{
  margin-top:   30px;
  width:  100%;
  font-family: 'Mada', sans-serif; 
  color: #42A79E;
}

::-webkit-scrollbar {
    display: none;
}


.card-content p{
  color: #36C247   !important;
}

.map-container {
  width: 100%;
  margin: 50px 0 10px;
}
.map-container iframe{
  width: 100%;
  display: block;
  pointer-events: none;
  position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
  pointer-events: auto;
}